:root {
  --breadcrumb--separator: '\2192';
}

.breadcrumb__list {
  display: flex;
  margin: 0;
  padding-left: 0;
  list-style: none;
}

.breadcrumb__item {
  display: flex;
}

.breadcrumb__item:not(:last-child)::after {
  content: var(--breadcrumb--separator);
}
